<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>
      <%= title %>
    </title>
    <style>
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="/images/ruby.png" />
  </body>
</html>
